@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root {
    --sec_width: 375px;
    --sec_port_width: 100%;
    --sec_height: 700px;
    --box_padding: 25px;
    --box_vert_margin: 50px; 
    --box_inside_width: 88%;
    --text_color: #777;

    /* For Desktop Design */
    --padding_horiz_desktop: 10%;
    --sec_width_desktop: 800px;
}
*{
    margin: 0px 0px;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}
/* Helping line to see horizontal center position*/
/*div.center{
    width: 1px;
    border: red dashed 0.25pt;
    height: 100vh;
    position: fixed;
    left: 50%;
    z-index: 2000;
}*/
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 5x;
    margin-top: 50px;
    margin-bottom: 0px;
}
section.hero .burger {
    display: flex;
    position: absolute;
    min-width: var(--sec_width);
    width: var(--sec_port_width);
    align-items:center;
    justify-content: space-between;
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 30px;
    margin-bottom: 200px;
}
.burger a:nth-child(1) img{
    width: 150px;
}
.burger a:nth-child(2) img{
    width: 20px;
    height: 18px;
    color: white;
    font-weight: 300;
    margin-top: 0px;    
}
nav.navigation{
    position: fixed;
    background-color: black;
    display: none;/*flex;*/
    flex-direction: column;
    min-width: var(--sec_width);
    width: var(--sec_port_width);
    padding: var(--box_padding) var(--box_padding);
    height: 550px;
    top: 0;
    z-index: 1000;
    padding-top: 150px;
}
nav.navigation a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    margin-top: 25px;
}
nav.navigation a:last-child{
    margin-bottom: 25px;
}
.hero{
    min-width: var(--sec_width);
    width: var(--sec_port_width);
    margin: 0px auto;
    height: var(--sec_height);
    position: relative;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.25), rgba(0,0,0,0)), url('./images/mobile/image-hero.jpg');
    background-size: cover;
    margin-bottom: calc(var(--box_vert_margin) * 2);
}
section.hero .story{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 2px;
    width: var(--box_inside_width);
    height: 225px;
    top: calc( 50% - (225px / 2) );
    left: calc(( var(--sec_port_width) / 2) - (var(--box_inside_width) / 2));
    padding: var(--box_padding) var(--box_padding);
}
.hero-label{
    font-size: 42px;
    margin: 0px 0px;
}
.story h1{
    color: white;
}
.wrapper{
    width: var(--sec_width);
    margin: 50px auto;
    margin-top: 0px;
}
.wrapper section{
    margin: var(--box_vert_margin) auto;
}
.wrapper h1{
    text-align: center;
    margin-bottom: calc( var(--box_vert_margin) / 2 );
}
.wrapper .vision .vision-item{
    width: var(--box_inside_width);
    margin-left: auto;
    margin-right: auto;
}
.vision-item:nth-child(1){
    height: 200px;
    background-image: url("./images/desktop/image-interactive.jpg");
    background-size: cover;
}
.vision-item p{
    text-align: center;
    line-height: 2;
    color: var(--text_color);
    padding: 5px 5px;
}
section.creation{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    align-items: flex-start;
    justify-items: center;
}
.creation h1{
    text-align: center;
    margin-top: calc(var(--box_vert_margin) * 2);
    margin-bottom: var(--box_vert_margin);

    grid-row: 1;
    grid-column: 1;
}
.creation-group{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;    
    margin-top: calc( var(--box_vert_margin) / 2 );   
    grid-row: 2;
    grid-column: 1;
}
.creation-items{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.creation-item{
    width: var(--box_inside_width);
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-bottom: 25px;
    padding: var(--box_padding) var(--box_padding);
    background-color: cornflowerblue;
    background-size: cover;
}
.creation-item:nth-child(1){
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url('./images/mobile/image-deep-earth.jpg');
}
.creation-item:nth-child(2){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-night-arcade.jpg');
}
.creation-item:nth-child(3){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-soccer-team.jpg');
}
.creation-item:nth-child(4){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-grid.jpg');
}
.creation-item:nth-child(4) h2{
    width: 80px;
}
.creation-item:nth-child(5){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-from-above.jpg');
}
.creation-item:nth-child(6){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-pocket-borealis.jpg');
}
.creation-item:nth-child(7){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-curiosity.jpg');
}
.creation-item:nth-child(8){
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/mobile/image-fisheye.jpg');
}
.creation-item h2{
    color: white;
    margin-top: 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;    
    width: 160px;
}
.creation-item img{
    width: 100%;
    height: 100%;
}
div.footer{
    display: flex;
    flex-direction: column;
}
a.see-all{
    grid-row: 3;
    grid-column: 1;
    width: 150px;
    height: 35px;
    border: black solid 1px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0 auto;
    box-shadow: 1px 1px 1pt #d6d6d6, -1px -1px 1pt #d6d6d6;
    letter-spacing: 5px;
}
footer.footer{
    margin: 0px auto;
    margin-top: calc(var(--box_vert_margin) * 2);
    min-width: var(--sec_width);
    width: var(--sec_port_width);
}
div.footer{
    min-width: var(--sec_width);
    width: var(--sec_port_width);
    margin: 0px auto;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: calc(var(--box_padding) * 2) var(--box_padding);
    width: 100%;
}
.footer-item:nth-child(2){
    display: flex;
    flex-direction: column;
}
.footer-item:nth-child(3){
    display: flex;
    margin-top: 50px;
    column-gap: 15px;
}
.footer-item:nth-child(3) img{
    width: 22px;
    height: 22px;
    margin: 0px 5px;
}
.footer-item p{
    font-size: 12px;
    color: var(--text_color);
    text-align: center;
}
.footer-item a{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 300;
    margin-top: 25px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 768px) {
    section.hero{
        display: grid;
        position: static;
        grid-template-columns: 200px auto;
        grid-template-rows: 50px auto;
        
        padding: calc(var(--padding_horiz_desktop) / 2.5) var(--padding_horiz_desktop);

        background-image: linear-gradient(90deg, rgba(0,0,0,0.25), rgba(0,0,0,0)), url('./images/desktop/image-hero.jpg');
        background-size: cover;

        width: 100%;
    }
    section.hero div.burger{
        position: static;
        padding: 0px 0px;
        margin: 0px 0px;

        grid-row: 1;
        grid-column: 1;
        height: 50px;
        margin-top: 0px;

        width: 10px;

        min-width: 200px;/*var(--sec_width);
        width: var(--sec_port_width);*/
    }
    .burger a:nth-child(2) {
        display: none;
    }
    section.hero nav.navigation{
        position: static;
        padding: 0px 0px;
        margin: 0px 0px;
        display: flex;
        flex-direction: row;

        column-gap: 25px;
        height: 50px;

        justify-content: end;
        background-color:transparent;

        grid-row: 1;
        grid-column: 2;
    }
    nav.navigation a{
        font-family: 'Alata', sans-serif;
        font-size: 18px;
        text-align: left;
        text-transform: capitalize;
        color: white;
        font-weight: 300;
        margin-top: 0px;
        align-self: center;
    }
    nav.navigation a:last-child{
        margin-bottom: 0px;
    }   
    section.hero .story{
        position: static;
        grid-row: 2;
        grid-column: 1 / span 2;
        align-self: center;
        justify-self: start;
        min-width: calc(var(--sec_width) * 1.8);
        width: 50%;
    }
    section.hero .story .hero-label{
        font-size: 62px;
        margin: 0px 0px;
    }

    .wrapper{
        min-width: var(--sec_width_desktop);
        width: 80%;
        margin: 50px auto;
        margin-top: 0px;
        margin: var(--box_vert_margin) auto;
    }
    .wrapper section{
        margin: var(--box_vert_margin) auto;
    }
    .wrapper h1{
        text-align: center;
        margin-bottom: calc( var(--box_vert_margin) / 2 );
    }    
    section.vision{
        margin: var(--box_vert_margin) auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 460px;
        position: relative;
        padding-bottom: 0px;
        margin-bottom: 15vh;

        min-width: 1024px;
        max-width: 1024px;
    }   
    .wrapper section.vision .vision-item{
        width: 100%;
        margin-left: none;
        margin-right: none;
    }
    .wrapper section.vision .vision-item:nth-child(1){
        grid-row: 1;
        grid-column: 1;

        position: static;
        width: 120%;
        height: 100%;
        background-image: url("./images/mobile/image-interactive.jpg");
        background-size: cover;        
    }
    .wrapper section.vision .vision-item:nth-child(2){
        grid-row: 1;
        grid-column: 2;

        position: relative;
        background-color: white;
        left: 0%;
       
        z-index: 1000;
        padding-top: 6%;
        padding-left: 50px;
        padding-right: 0px;
        padding-bottom: 0px;
        align-self:flex-end;
    }    
    .vision-item:nth-child(1) img{
        width: 100%;
        height: 100%;
    }
    .vision-item p{
        text-align: left;
        line-height: 2;
        color: var(--text_color);
        padding: 5px 5px;
    }
    .vision-item h1{
        text-align: left;
        margin-top: 0px;
    }
    section.creation {
        margin-top: var(--box_vert_margin);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto;

        min-width: 1024px;
        max-width: 1024px;
    }
    section.creation h1{
        margin-top: 0px;
        grid-row: 1;
        grid-column: 1;

        justify-self: left;
    }
    section.creation a{
        grid-row: 1;
        grid-column: 2;
        justify-self: right;
    }
    section.creation .creation-items {
        grid-row: 2;
        grid-column: 1 / span 2;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 25px;
        row-gap: 25px;

        padding: 0px 0px;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;    

        min-width: 1024px;
        max-width: 1024px;
    }
    .creation-item{
        width: calc(var(--box_inside_width) + 30px);
        margin-left: 0;
        margin-right: 0;
        height: calc(150px * 3);
        margin-bottom: 0;
        padding: var(--box_padding) var(--box_padding);
        background-color: cornflowerblue;
        background-size: cover;
    }
    .creation-item h2{
        margin-top: 320px;
    }
    .creation-item:nth-child(1){
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url('./images/desktop/image-deep-earth.jpg');
    }
    .creation-item:nth-child(2){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-night-arcade.jpg');
    }
    .creation-item:nth-child(3){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-soccer-team.jpg');
    }
    .creation-item:nth-child(4){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-grid.jpg');
    }
    .creation-item:nth-child(4) h2{
        width: 80px;
    }
    .creation-item:nth-child(5){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-from-above.jpg');
    }
    .creation-item:nth-child(6){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-pocket-borealis.jpg');
    }
    .creation-item:nth-child(7){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-curiosity.jpg');
    }
    .creation-item:nth-child(8){
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url('./images/desktop/image-fisheye.jpg');
    }
    footer.footer{
        width: 100%;
        margin: 0px 0px;
        margin-top: 150px;
        background-color: black;
    }
    div.footer{
        min-width: 1024px;
        max-width: 1024px;

        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0px;
        padding: calc(var(--box_padding) * 2) 0px;

        align-items: flex-end;
    }
    .footer-item:nth-child(1){
        grid-row: 1;
        grid-column: 1;
    }
    .footer-item:nth-child(2){
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        
        grid-row: 2;
        grid-column: 1;

        margin: 0px 0px;
        height: 30px;
    }
    .footer-item:nth-child(3){
        display: flex;
        margin-top: 0px;
        column-gap: 10px;

        justify-content: right;

        grid-row: 1;
        grid-column: 2;
    }
    .footer-item:nth-child(4){
        grid-row: 2;
        grid-column: 2;
    }
    .footer-item:nth-child(3) img{
        width: 22px;
        height: 22px;
        margin: 0px 5px;
    }
    .footer-item p{
        font-size: 12px;
        color: var(--text_color);
        text-align: right;
    }
    .footer-item a{
        font-size: 12px;
        text-align: left;
        margin: 0px 0px;
        color: #ccc;
    }    
}